NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDIEb2X_LXkqg-fgvE2jFPlg6J75ZFmSsI"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="chaam-safari-udawalawe.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="chaam-safari-udawalawe"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="chaam-safari-udawalawe.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="534106356310"
NEXT_PUBLIC_FIREBASE_APP_ID="1:534106356310:web:af6a246690b034298799f7"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-HSBG237E8N"
